networks:
  dokploy-network:
    external: true

services:
  docs:
    image: ecr.avey.ai/api-docs:latest
    networks:
      - dokploy-network
    environment:
      - NEXT_PUBLIC_MODE=production
      - GITHUB_APP_ID=${GITHUB_APP_ID}
      - GITHUB_APP_PRIVATE_KEY=${GITHUB_APP_PRIVATE_KEY}
    deploy:
      labels:
        - "traefik.enable=true"
      replicas: 1
      placement:
        constraints:
          - node.role == worker
      resources:
        limits:
          cpus: "0.25"
          memory: 256M
      update_config:
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 5s
        monitor: 5s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
