@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

@theme {
    /* This replaces Tailwind's font-sans stack */
    --font-sans: "Nunito", sans-serif;
  }

  @layer base {
    html, body {
      @apply font-sans;
    }
  }


html.light{
  --color-fd-primary: #171717!important;
  --color-fd-foreground: #171717 !important;
}