@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

@theme {
    /* This replaces Tailwind's font-sans stack */
    --font-sans: "Nunito", sans-serif;
  }

  @layer base {
    html, body {
      @apply font-sans;
    }
  }

   :root  {
    --color-primary: #000000;
    --color-primary-foreground: #ffffff;
    /* --color-blue-600: #000000; */
    /* --shiki-light: #000000; */
    --shiki-foreground: #eeeeee;
    --shiki-background: #333333;
    --shiki-token-constant: #660000;
    --shiki-token-string: #770000;
    --shiki-token-comment: #880000;
    --shiki-token-keyword: #990000;
    --shiki-token-parameter: #aa0000;
    --shiki-token-function: #bb0000;
    --shiki-token-string-expression: #cc0000;
    --shiki-token-punctuation: #dd0000;
    --shiki-token-link: #ee0000;
  

  }


